<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>wip</title>

    <link rel="stylesheet" href="styles/bootstrap.css">
  </head>
  <body>
    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- <section id="about"> -->
    <!--   <h1>Me</h1> -->
    <!-- </section> -->

    <div class="container marketing">
      <hr class="featurette-divider">
      {% for post in posts %}
        {% include "_post.html" %} 
        <hr class="featurette-divider">
      {% endfor %} 
    </div>

    <script src="scripts/holder.js"></script>
  </body>
</html>
